<br>



<div class="d-flex justify-content-center">
<h1>MODIFICA CAVALLO</h1>
</div>



<br>



<%= render 'form', horse: @horse %>

<div class="container">

<div style="padding: 10px"></div>

<%= link_to 'MOSTRA', @horse, class:"btn btn-success w-100" %> 

<div style="padding: 10px"></div>

<%= link_to 'INDIETRO', horses_path, class:"btn btn-info w-100" %>

<div style="padding: 10px"></div>

</div>