<br>



<h1 class="text">NUOVO CAVALLO</h1>



<br>



<%= render 'form', horse: @horse %>



<br>



<div class="container">
<%= link_to 'INDIETRO', horses_path, class:"btn btn-info w-100" %>
</div>



<br>