<br>



<div class="container-fluid">
<div class="card-deck">
  <div class="card">
    <%= image_tag 'a1.jpg', class:"card-img-top" %>
    <div class="card-body">
      <h5 class="card-title text">CAVALLO NORDICO</h5>
      <p class="card-text text">Il suo corpo dalle forme armoniche ed eleganti è ricoperto di un pelame corto e liscio,
       che è variamente colorato, la sua testa è molto allungata, gli occhi sono grandi ed espressivi, le orecchie piccole,
        mobili e diritte. Il collo che è lungo e compresso è ornato da una criniera formata da crini lunghi e spioventi.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'a2.jpg', class:"card-img-top" %>
    <div class="card-body">
      <h5 class="card-title text">CAVALLO SUDDITO</h5>
      <p class="card-text text">Il suo corpo dalle forme armoniche ed eleganti è ricoperto di un pelame corto e liscio,
      che è variamente colorato, la sua testa è molto allungata, gli occhi sono grandi ed espressivi, le orecchie piccole,
       mobili e diritte. Il collo che è lungo e compresso è ornato da una criniera formata da crini lunghi e spioventi.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'a3.jpg', class:"card-img-top" %>
    <div class="card-body">
      <h5 class="card-title text">CAVALLO MAGNIFICO</h5>
      <p class="card-text text">Il suo corpo dalle forme armoniche ed eleganti è ricoperto di un pelame corto e liscio,
      che è variamente colorato, la sua testa è molto allungata, gli occhi sono grandi ed espressivi, le orecchie piccole,
       mobili e diritte. Il collo che è lungo e compresso è ornato da una criniera formata da crini lunghi e spioventi.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
</div>



<br>