<br>



<div class="d-flex justify-content-center">
<h1>NUOVO UTENTE</h1>
</div>



<br>



<%= render 'form', utenti: @utenti %>



<br>



<div class="container">
<%= link_to 'INDIETRO', utentis_path, class:"btn btn-info w-100" %>
</div>



<br>